.defaultText {
  font-size: 32;
  /* font-family: System-Regular; */
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: black;
}

#time{
  fill:black;
  text-length:14;
  font-size:60;
  x:117; 
  y:239;
  
}